Options -MultiViews
RewriteEngine On
RewriteBase /

# Don't rewrite existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Exclude PHP files and real subfolders
RewriteRule \.php$ - [L]
RewriteRule ^(staff|onlinepayment|blog|assets|PHPMailer)(/.*)?$ - [L]

# Route everything else to index.html
RewriteRule ^ index.html [L]
